.wrap{
    width: 100%;
    display: flex;
}
.item{
    width: 25%;
    position: relative;
}
.item img{
    width:100%;
    vertical-align: middle;
}
.item txt{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
    background-color: rgba(255,2,0,.6);
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity .5s;
}
.item:hover .txt{
    opacity: 1;
} 
.item h2{
    font-size: 28px;
    color:blueviolet;
    font-weight: 500;
}
.item p{
    font-size: 18px;
    color: blue;
    font-weight: 100;
}