 
.wrap{
    width: 1200px;
    margin: auto;
}
.item{
    display: flex;
    align-items: center;
    margin-bottom: 70px; 
}
.item .pic{
    width:  55%;
    flex-shrink: 0;
}

.item .pic img{
    width: 100%;
    vertical-align: middle;
}

.item .txt{
    width:  55%; 
    flex-shrink: 0;
    padding: 50px 30px; 
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}
.item > :first-child{
    margin-right: -10%;
}

.item:nth-child(1) .txt{
    background-color:rgba(00,219,214,.7);
}
.item:nth-child(2) .txt{
    background-color:rgba(77,219,214,.7);
}
.item:nth-child(3) .txt{
    background-color:rgba(149,219,214,.7);
}
.item:nth-child(4) .txt{
    background-color:rgba(229,219,214,.7);
}
